.footer {
    background-color: $color-slogan;
    padding: 60px 0;

  &__logoweb {
    display: flex;
    justify-content: center;
    color: $color-link;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.17;
    font-family: "Raleway", sans-serif;
    padding: 0;
    margin: 0;

    @media screen and (min-width: 768px) {
     display: block;
    }
  }
  
  &__logoweb .footer__logostudio {
    color: $color-fff;
  }
}


