.header {
  border-bottom: 1px solid $border-top-color;
  position: relative;
  
  &__menu {
    background-color: $color-fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }  
}