.logoweb {
    color: $color-link;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.17;
    font-family: "Raleway", sans-serif;
    margin-right: 90px;
  }
  
  .logostudio {
    color: $color-000;
  }