.section-regcust {
  background-color: $color-fff;
  padding: 60px 0;

  @media screen and (min-width: 768px) {
    padding: 94px 0;
  }
}
  
.regcust{
  margin: 0;

  &__title {
    color: $color-title;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }
  
  &__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 0;
    margin: 0;
  }
  
  &__list {
    display: block;
  }
  
  &__list-a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 92px;
    border-radius: 4px;
    color: $color-sn;
    background-color: $color-fff;
    border: 1px solid $color-sn;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
    width: 226px;
    }

    @media screen and (min-width: 1600px) {
    width: 170px;
    }
  }
  
  &__list-a:hover,
  &__list-a:focus {
    color: $color-link;
    border: 1px solid $color-link;
  }
  
  &__client-svg {
    width: 106px;
    height: 60px;
    fill: currentColor;
  }
}