.section-whatdowedo {
    padding: 60px 0;

    @media screen and (min-width: 1600px) {
     padding: 94px 0;
    }
  }
  
  .whatdowedo {
    background-color: $color-fff;
  
  &__menu {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
  
  &__list {
    width: 450px;
  
    @media screen and (min-width: 768px) {
    width: 354px;
    }

    @media screen and (min-width: 1600px) {
    width: 270px;
    }
  }
  
  &__icon {
    display: flex;
    height: 120px;
    background-color: $color-ourteam;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
  }
  
  &__icon-svg {
    width: 70px;
    height: 70px;
  }
  
  &__title {
    color: $color-title;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 30px;

    @media screen and (min-width: 768px) {
    text-align: left;
    }
  }
  
  &__text {
    color: $color-text;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.42px;
  }
}
