$color-title: #212121;
$color-text: #757575;
$color-link: #2196f3;
$color-fff: #fff;
$color-000: #000;
$color-slogan: #2f303a;
$color-button-hover: #188ce8;
$color-ourteam: #f5f4fa;
$border-top-color: #ececec;
$buttons-portf: #f5f4fa;
$card-portf: #eee;
$color-sn: #afb1b8;
$color-footer-sn: rgba(255, 255, 255, 0.1);
