body {
    font-style: normal;
    font-family: "Roboto", sans-serif;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
  }
  
  p {
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    color: currentColor;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  button {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    padding: 0;
  }
  
  img {
    display: block;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .container {
    max-width: 480px;
    padding: 0 15px;
    margin: 0 auto;
    
    @media screen and (min-width: 768px)  {   
    max-width: 768px;
    padding: 0 15px;
    margin: 0 auto;
    }
    
    @media screen and (min-width: 1200px)  {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    }
  }
